[submodule "day00"]
	path = day00
	url = ./day00
[submodule "day01"]
	path = day01
	url = ./day01
[submodule "2408-FTB-ET-WEB-FT"]
	path = 2408-FTB-ET-WEB-FT
	url = git@github.com:FullstackAcademy/2408-FTB-ET-WEB-FT.git
